@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'humanst521_ubd_btultra_bold';
    src: url('/fonts/humanist-521-ultra-bold-bt-webfont.woff2') format('woff2'),
         url('/fonts/humanist-521-ultra-bold-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bikobold';
    src: url('/fonts/biko_bold-webfont.woff2') format('woff2'),
         url('/fonts/biko_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bikoregular';
    src: url('/fonts/biko_regular-webfont.woff2') format('woff2'),
         url('/fonts/biko_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

